In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
file=pd.read_csv('C:\\Users\\Thilak\\Desktop\\Automobile.csv')

FileNotFoundError: [Errno 2] File C:\Users\Thilak\Desktop\Automobile.csv does not exist: 'C:\\Users\\Thilak\\Desktop\\Automobile.csv'

In [ ]:
pwd

In [5]:
file

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
197,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
198,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
199,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [6]:
file.head()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [8]:
file.head(10)

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,161,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,168,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430

In [9]:
file.tail()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
196,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
197,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
198,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
199,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [10]:
file.tail(10)

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
191,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,13415
192,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,15985
193,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,16515
194,-2,103,volvo,gas,turbo,four,sedan,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18420
195,-1,74,volvo,gas,turbo,four,wagon,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18950
196,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
197,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
198,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
199,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [11]:
file.shape

(201, 26)

In [12]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   symboling            201 non-null    int64
 1   normalized_losses    201 non-null    int64
 2   make                 201 non-null    object
 3   fuel_type            201 non-null    object
 4   aspiration           201 non-null    object
 5   number_of_doors      201 non-null    object
 6   body_style           201 non-null    object
 7   drive_wheels         201 non-null    object
 8   engine_location      201 non-null    object
 9   wheel_base           201 non-null    float64
 10  length               201 non-null    float64
 11  width                201 non-null    float64
 12  height               201 non-null    float64
 13  curb_weight          201 non-null    int64
 14  engine_type          201 non-null    object
 15  number_of_cylinders  201 non-null    object
 16  engine_size          201 non-null    int64
 17  fuel_system          201 non-null    object
 18  bore                 201 non-null    float64
 19  stroke               201 non-null    float64
 20  compression_ratio    201 non-null    float64
 21  horsepower           201 non-null    int64
 22  peak_rpm             201 non-null    int64
 23  city_mpg             201 non-null    int64
 24  highway_mpg          201 non-null    int64
 25  price                201 non-null    int64
dtypes: float64(7), int64(9), object(10)
memory usage: 41.0+ KB

In [13]:
file.describe()

,symboling,normalized_losses,wheel_base,length,width,height,curb_weight,engine_size,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
count,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000
mean,0.840796,125.189055,98.797015,174.200995,65.889055,53.766667,2555.666667,126.875622,3.329701,3.261741,10.164279,103.263682,5121.393035,25.179104,30.686567,13207.129353
std,1.254802,33.572966,6.066366,12.322175,2.101471,2.447822,517.296727,41.546834,0.268166,0.317875,4.004965,37.389372,479.624905,6.423220,6.815150,7947.066342
min,-2.000000,65.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,0.000000,101.000000,94.500000,166.800000,64.100000,52.000000,2169.000000,98.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7775.000000
50%,1.000000,122.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,2.000000,150.000000,102.400000,183.500000,66.600000,55.500000,2926.000000,141.000000,3.580000,3.460000,9.400000,116.000000,5500.000000,30.000000,34.000000,16500.000000
max,3.000000,256.000000,120.900000,208.100000,72.000000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,262.000000,6600.000000,49.000000,54.000000,45400.000000

In [14]:
file.index

RangeIndex(start=0, stop=201, step=1)

In [15]:
file.columns

Index(['symboling', 'normalized_losses', 'make', 'fuel_type', 'aspiration',
       'number_of_doors', 'body_style', 'drive_wheels', 'engine_location',
       'wheel_base', 'length', 'width', 'height', 'curb_weight', 'engine_type',
       'number_of_cylinders', 'engine_size', 'fuel_system', 'bore', 'stroke',
       'compression_ratio', 'horsepower', 'peak_rpm', 'city_mpg',
       'highway_mpg', 'price'],
      dtype='object')

In [16]:
file.values

array([[3, 168, 'alfa-romero', ..., 21, 27, 13495],
       [3, 168, 'alfa-romero', ..., 21, 27, 16500],
       [1, 168, 'alfa-romero', ..., 19, 26, 16500],
       ...,
       [-1, 95, 'volvo', ..., 18, 23, 21485],
       [-1, 95, 'volvo', ..., 26, 27, 22470],
       [-1, 95, 'volvo', ..., 19, 25, 22625]], dtype=object)

In [17]:
file.head()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [18]:
file['make'].head(10)

0    alfa-romero
1    alfa-romero
2    alfa-romero
3           audi
4           audi
5           audi
6           audi
7           audi
8           audi
9            bmw
Name: make, dtype: object

In [19]:
file[['make','price']].head(10)

          make  price
0  alfa-romero  13495
1  alfa-romero  16500
2  alfa-romero  16500
3         audi  13950
4         audi  17450
5         audi  15250
6         audi  17710
7         audi  18920
8         audi  23875
9          bmw  16430

In [20]:
file.loc[0]

symboling                        3
normalized_losses              168
make                   alfa-romero
fuel_type                      gas
aspiration                     std
number_of_doors                two
body_style             convertible
drive_wheels                   rwd
engine_location              front
wheel_base                    88.6
length                       168.8
width                         64.1
height                        48.8
curb_weight                   2548
engine_type                   dohc
number_of_cylinders           four
engine_size                    130
fuel_system                   mpfi
bore                          3.47
stroke                        2.68
compression_ratio                9
horsepower                     111
peak_rpm                      5000
city_mpg                        21
highway_mpg                     27
price                        13495
Name: 0, dtype: object

In [21]:
file.head()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [3]:
file['body_style'].value_counts()

NameError: name 'file' is not defined

In [19]:
file['make'].value_counts()

toyota           32
nissan           18
mazda            17
honda            13
mitsubishi       13
subaru           12
volkswagen       12
volvo            11
peugot           11
dodge             9
bmw               8
mercedes-benz     8
plymouth          7
audi              6
saab              6
porsche           4
alfa-romero       3
chevrolet         3
jaguar            3
isuzu             2
renault           2
mercury           1
Name: make, dtype: int64

In [22]:
file['fuel-system'].unique()

array(['mpfi', '2bbl', 'mfi', '1bbl', 'spfi', '4bbl', 'idi', 'spdi'],
      dtype=object)

In [23]:
file['fuel-system'].nunique()

8

In [24]:
file['make'].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [25]:
file['make'].nunique()

22

In [26]:
# how many cars in your dataset run on gas/diesel?

In [25]:
file['fuel_type'].value_counts()

gas       181
diesel     20
Name: fuel_type, dtype: int64

The total no of cars that run on gas is 185 and diesel is 20

In [28]:
Which is the most expensive car in your dataset? What is the price in dollars?

Object `dollars` not found.

In [ ]:
Which is the most expensive car in your dataset? What is the price in dollars

In [26]:
file['price'].max()

45400

In [29]:
file[file['price']==45400]['make']

74    mercedes-benz
Name: make, dtype: object

the most expensive car in my dataset is merc with 45400 dollars.

How many cars have the engine located at the front?

In [31]:
file['engine-location'].value_counts()

front    202
rear       3
Name: engine-location, dtype: int64

In [32]:
file[file['engine-location']=='front'].count()

symboling            202
normalized-losses    202
make                 202
fuel-type            202
aspiration           202
num-of-doors         202
body-style           202
drive-wheels         202
engine-location      202
wheel-base           202
length               202
width                202
height               202
curb-weight          202
engine-type          202
num-of-cylinders     202
engine-size          202
fuel-system          202
bore                 202
stroke               202
compression-ratio    202
horsepower           202
peak-rpm             202
city-mpg             202
highway-mpg          202
price                202
dtype: int64

how many unique engine types are there in this dataset?

In [33]:
file['engine-type'].nunique()

7

which is the most expensive jaguar? what is the price? what is the fuel system?

In [7]:
file[file['make']=='jaguar']['price'].max()

36000

In [28]:
file[(file['make']=='jaguar')  & (file['price']==36000)][['fuel_system','price']]

   fuel_system  price
46        mpfi  36000

In [36]:
file.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [37]:
file.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [29]:
pd.crosstab(file['make'],file['fuel_type'])# only categorical data

fuel_type      diesel  gas
make
alfa-romero         0    3
audi                0    6
bmw                 0    8
chevrolet           0    3
dodge               0    9
honda               0   13
isuzu               0    2
jaguar              0    3
mazda               2   15
mercedes-benz       4    4
mercury             0    1
mitsubishi          0   13
nissan              1   17
peugot              5    6
plymouth            0    7
porsche             0    4
renault             0    2
saab                0    6
subaru              0   12
toyota              3   29
volkswagen          4    8
volvo               1   10

In [39]:
file['fuel-type'].map({'gas':'gasoline','diesel':'diesel_system'})

0           gasoline
1           gasoline
2           gasoline
3           gasoline
4           gasoline
           ...
200         gasoline
201         gasoline
202         gasoline
203    diesel_system
204         gasoline
Name: fuel-type, Length: 205, dtype: object

In [40]:
file['wheel-base'].astype('complex128')

0       88.600000+0.000000j
1       88.600000+0.000000j
2       94.500000+0.000000j
3       99.800000+0.000000j
4       99.400000+0.000000j
               ...
200    109.100000+0.000000j
201    109.100000+0.000000j
202    109.100000+0.000000j
203    109.100000+0.000000j
204    109.100000+0.000000j
Name: wheel-base, Length: 205, dtype: complex128

In [41]:
find out the 10 cheapest cars in the datset with prices?

Object `prices` not found.

In [ ]:
find out the 10 cheapest cars in the datset with prices

In [37]:
file['price'].sort_values(ascending=True).head(10)

134    5118.0
17     5151.0
47     5195.0
146    5348.0
73     5389.0
31     5399.0
86     5499.0
20     5572.0
115    5572.0
48     6095.0
Name: price, dtype: float64

In [30]:
file.sort_values('price',ascending=True).head(10)# by default data is arranged in ascending order

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
134,2,83,subaru,gas,std,two,hatchback,fwd,front,93.7,...,97,2bbl,3.62,2.36,9.00,69,4900,31,36,5118
17,2,121,chevrolet,gas,std,two,hatchback,fwd,front,88.4,...,61,2bbl,2.91,3.03,9.50,48,5100,47,53,5151
47,1,104,mazda,gas,std,two,hatchback,fwd,front,93.1,...,91,2bbl,3.03,3.15,9.00,68,5000,30,31,5195
146,1,87,toyota,gas,std,two,hatchback,fwd,front,95.7,...,92,2bbl,3.05,3.03,9.00,62,4800,35,39,5348
73,2,161,mitsubishi,gas,std,two,hatchback,fwd,front,93.7,...,92,2bbl,2.97,3.23,9.40,68,5500,37,41,5389
31,1,101,honda,gas,std,two,hatchback,fwd,front,93.7,...,79,1bbl,2.91,3.07,10.10,60,5500,38,42,5399
86,1,128,nissan,gas,std,two,sedan,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.40,69,5200,31,37,5499
115,1,119,plymouth,gas,std,two,hatchback,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68,5500,37,41,5572
20,1,118,dodge,gas,std,two,hatchback,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.41,68,5500,37,41,5572
48,1,104,mazda,gas,std,two,hatchback,fwd,front,93.1,...,91,2bbl,3.03,3.15,9.00,68,5000,31,38,6095

change the data type of price column into int 32 and make it permanent

In [44]:
file['price']=file['price'].astype('int32')

In [45]:
file['price'].dtype

dtype('int32')

Q : please map the no of doors- two:2 and four:4 permanently.

In [49]:
file['num-of-doors']=file['num-of-doors'].map({'two':2,'four':4})

In [50]:
file.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,2.0,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,2.0,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,2.0,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,4.0,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,4.0,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [39]:
file.groupby('make').mean()# aggregate function-min,max,mean

,symboling,normalized_losses,wheel_base,length,width,height,curb_weight,engine_size,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
make,,,,,,,,,,,,,,,,
alfa-romero,2.333333,168.000000,90.566667,169.600000,64.566667,50.000000,2639.666667,137.333333,3.206667,2.943333,9.000000,125.333333,5000.000000,20.333333,26.666667,NaN
audi,1.500000,162.166667,102.733333,184.766667,68.850000,54.833333,2758.666667,130.666667,3.180000,3.400000,8.633333,114.500000,5500.000000,19.333333,24.500000,NaN
bmw,0.375000,169.500000,103.162500,184.500000,66.475000,54.825000,2929.375000,166.875000,3.473750,3.167500,8.575000,138.875000,5068.750000,19.375000,25.375000,NaN
chevrolet,1.000000,100.000000,92.466667,151.933333,62.500000,52.400000,1757.000000,80.333333,2.990000,3.083333,9.566667,62.666667,5300.000000,41.000000,46.333333,5151.0
dodge,1.000000,133.444444,95.011111,160.988889,64.166667,51.644444,2151.333333,102.666667,3.094444,3.365556,8.634444,86.333333,5388.888889,28.000000,34.111111,5572.0
honda,0.615385,103.000000,94.330769,160.769231,64.384615,53.238462,2096.769231,99.307692,3.021538,3.462308,9.215385,80.230769,5753.846154,30.384615,35.461538,5399.0
isuzu,1.000000,110.000000,95.150000,171.650000,63.500000,52.450000,2535.500000,115.000000,3.370000,3.230000,8.850000,84.000000,4900.000000,24.000000,29.000000,NaN
jaguar,0.000000,125.000000,109.333333,196.966667,69.933333,51.133333,4027.333333,280.666667,3.600000,3.700000,9.233333,204.666667,4833.333333,14.333333,18.333333,NaN
mazda,1.117647,122.529412,97.017647,170.805882,65.588235,53.358824,2297.823529,103.000000,3.285294,3.346471,10.488235,85.529412,5108.823529,25.705882,31.941176,5645.0
mercedes-benz,0.000000,114.500000,110.925000,195.262500,71.062500,55.725000,3696.250000,226.500000,3.605000,3.432500,14.825000,146.250000,4487.500000,18.500000,21.000000,NaN
mercury,1.000000,140.000000,102.700000,178.400000,68.000000,54.800000,2910.000000,140.000000,3.780000,3.120000,8.000000,175.000000,5000.000000,19.000000,24.000000,NaN
mitsubishi,1.846154,144.538462,95.353846,168.030769,65.253846,50.692308,2381.923077,118.307692,3.250769,3.493846,8.061538,104.076923,5269.230769,24.923077,31.153846,5389.0
nissan,1.000000,135.166667,95.722222,170.988889,65.088889,53.633333,2400.388889,127.888889,3.254444,3.313333,9.794444,102.555556,5177.777778,27.000000,32.944444,5499.0
peugot,0.000000,161.000000,110.200000,191.136364,68.390909,57.181818,3221.000000,135.818182,3.582727,3.160000,14.000000,99.818182,4668.181818,22.454545,26.636364,NaN
plymouth,1.000000,130.714286,95.385714,164.900000,64.271429,51.971429,2220.857143,106.285714,3.121429,3.375714,8.671429,86.714286,5357.142857,28.142857,34.142857,5572.0
porsche,3.000000,142.500000,90.750000,168.900000,65.825000,51.250000,2772.500000,183.250000,3.790000,2.952500,9.500000,191.000000,5800.000000,17.500000,25.500000,NaN
renault,1.000000,129.000000,96.100000,179.150000,66.550000,52.850000,2519.500000,132.000000,3.460000,3.900000,8.700000,90.000000,5500.000000,23.000000,31.000000,NaN
saab,2.500000,127.000000,99.100000,186.600000,66.500000,56.100000,2745.500000,121.000000,3.373333,2.903333,9.201667,126.666667,5333.333333,20.333333,27.333333,NaN
subaru,0.500000,92.250000,96.175000,168.858333,64.950000,53.750000,2316.250000,107.083333,3.620000,2.616667,8.816667,86.250000,4775.000000,26.333333,30.750000,5118.0
toyota,0.562500,111.000000,98.103125,171.934375,65.090625,53.721875,2441.093750,118.812500,3.280000,3.255000,10.340625,92.781250,4859.375000,27.500000,32.906250,5348.0
volkswagen,1.666667,125.250000,97.608333,172.533333,65.616667,55.183333,2343.166667,107.250000,3.130000,3.400000,13.625000,81.083333,5154.166667,28.583333,34.916667,NaN
volvo,-1.272727,91.454545,106.481818,188.800000,67.963636,56.236364,3037.909091,142.272727,3.662727,3.147273,10.227273,128.000000,5290.909091,21.181818,25.818182,NaN